.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #283c65
}

.title{
    font-size: 3rem;
    font-weight: bold;
    color: #2d3748;
    margin-bottom: 1rem;
}
.desc{
    font-size: 1.25rem;
    color: #4a5568;
    margin-bottom: 2rem;
}

.linked{
    color: #3b82f6;
    text-decoration: underline;
}